<a href="https://colab.research.google.com/github/smriddhii/dataStructures/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(ord("a"))     # chr to ord
print(ord("A"))
print(chr(97))      # ord to chr
print(chr(65))

97
65
a
A

In [2]:
s = "geek"

print(s)
print(s[0])
print(s[-1])
print(s[1])
print(s[-2])

geek
g
k
e
e

In [3]:
# multiline string-
s = """ Hi,
This is python course.
Hope you are enjoying it. """
print(s)

 Hi,
This is python course.
Hope you are enjoying it.

In [4]:
# escape sequences and raw strings-

s="Hi \nwelcome to the course"
print(s)

Hi
welcome to the course

In [5]:
s1="A simple \ example"
print(s1)
s2="Backslash at the end\\"
print(s2)
s3="\\n"
print(s3)
s4="\\t"
print(s4)

A simple \ example
Backslash at the end\
\n
\t

In [6]:
s1="c:\project\name.py"
print(s1)

s2=r"c:\project\name.py"
print(s2)

c:\project
ame.py
c:\project\name.py

In [7]:
# string formatting-

name = "ABC"

course = "Python Course"

s = "Welcome %s to the %s"%(name,course)
print(s)
print()
###########
# using format function

s = "welcome {0} to the {1}".format(name,course)
print(s)
print()
############################
# using f-string

s = f"welcome {name} to the {course}"
print(s)
print()

Welcome ABC to the Python Course

welcome ABC to the Python Course

welcome ABC to the Python Course

In [8]:
a = 10
b = 20

print(f"sum of {a} and {b} is {a + b}")
print(f"product of {a} and {b} is {a * b}")

sum of 10 and 20 is 30
product of 10 and 20 is 200

In [9]:
# string comparisons-
s1 = "geeksforgeeks"

s2 = "ide"

print(s1<s2)
print(s1<=s2)
print(s1>s2)
print(s1>=s2)
print(s1==s2)
print(s1 != s2)


print("#############")

print("abcd > abc ","abcd">"abc")
print("ZAB>ABC","ZAB">"ABC")

print("abc>ABC","abc">"ABC")

print("x>abcd","x">"abcd")

True
True
False
False
False
True
#############
abcd > abc  True
ZAB>ABC True
abc>ABC True
x>abcd True

In [10]:
# substrings-
s1 = "geeksforgeeks"
s2 = "geeks"

print(s2 in s1)
print(s2 not in s1)

True
False

In [11]:
# string concatenation
s1 = "geeks"
s2 = "for"
s3 = s1 + s2

s4 = "welcome to " + s1 + s2

print(s3)
print(s4)

geeksfor
welcome to geeksfor

In [13]:
s1 = "geeksforgeeks"
s2 = "geeks"

print(s1.index(s2))         # gives first index of substring
print(s1.rindex(s2))        # gives last index of substring
print(s1.index(s2,1,13))    # start and end index of substring

0
8
8

In [1]:
s1 = "geeks"

print(len(s1))

s2 = s1.upper()

print(s2)

s3 = s2.lower()

print(s3)

print(s1.islower())

print(s2.isupper())

5
GEEKS
geeks
True
True

In [2]:
s = "GeeksforGeeks Python Course"

print(s.startswith("Geeks"))

print(s.endswith("Course"))

print(s.startswith("Geeks", 1))     # start index

print(s.startswith("Geeks",8,len(s)))   # start index, last-index

True
True
False
True

In [3]:
s1 = "geeks for geeks"

print(s1.split())   # split by space ' '

s2 = "geeks, for, geeks"
print(s2.split(','))        # split by comma ','

l = ["geeksforgeeks","python","course"]

print(" ".join(l))          # join by space

print(", ".join(l))         # join by comma

['geeks', 'for', 'geeks']
['geeks', ' for', ' geeks']
geeksforgeeks python course
geeksforgeeks, python, course

In [4]:
s1 = "__geeksforgeeks__"

print(s1.strip("_"))   # strip from both side


print(s1.lstrip('_'))  # strip from left side


print(s1.rstrip("_"))   # strip from right side

geeksforgeeks
geeksforgeeks__
__geeksforgeeks

In [5]:
s1 = "geeks for geeks"

s2 = "geeks"

print(s1.find(s2))

print(s1.find("gfg"))

n = len(s1)

print(s1.find(s2,1,n))

0
-1
10

In [6]:
# reverse a string-
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

s = "Geeksforgeeks"

print("The original string is : ")
print(s)

print("The reversed string(using loops) is : ")
print(reverse(s))

The original string is :
Geeksforgeeks
The reversed string(using loops) is :
skeegrofskeeG

In [7]:
#check if two strings are rotations of each other-
def arerotations(s1,s2) :
    if len(s1) != len(s2) :
        return False
    temp = ' '
    temp = s1 + s1
    return temp.find(s2)!= 1


s1 = "ABCD"
s2 = "CDAB"

print(arerotations(s1,s2))

True

In [8]:
# pallindrome check in strings-
def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

In [9]:
# check if a string is a subsequence of another-
def issubseq(s1,s2) :
    i, j = 0, 0
    while(i < len(s1) and j < len(s2)) :
        if s1[i] == s2[j] :
            j = j + 1
        i += 1
    if j == len(s2) :
        return True
    else :
        return False

s1 = "ABCDEF"
s2 = "ADE"

print(issubseq(s1,s2))

True

In [11]:
# check if strings are anagrams-
s1= input("Enter a String:\n")
s2= input("Enter a String:\n")

def areAnagram(s1,s2):
    if len(s1) != len(s2):
        return False
    s1=sorted(s1)
    s2=sorted(s2)
    return(s1==s2)

areAnagram(s1,s2)

Enter a String:
heart
Enter a String:
earth

True

In [12]:
# leftmost repeating character-
CHAR = 256
def leftmost(st) :
    vis = [False] * CHAR
    res = -1
    for i in range(len(st)-1,-1,-1) :
        if (vis[ord(st[i])]==True) :
            res = i
        else :
            vis[ord(st[i])] = True

    return res

st = "abccbd"
print(leftmost(st))

1

In [13]:
#leftmost repeating char-
def leftmost(st) :
    for i in range(len(st)) :
        for j in range(i+1 , len(st)) :
            if st[i] == st[j] :
                return i

    return -1

st = "cabba"
print(leftmost(st))

1

In [14]:
# leftmost non repeating element-
NO_OF_CHARS = 256

def getCharCountArray(string):
	count = [0] * NO_OF_CHARS
	for i in string:
		count[ord(i)]+= 1
	return count

def firstNonRepeating(string):
	count = getCharCountArray(string)
	index = -1
	k = 0

	for i in string:
		if count[ord(i)] == 1:
			index = k
			break
		k += 1

	return index

string = "geeksforgeeks"
index = firstNonRepeating(string)
if index == 1:
	print ("Either all characters are repeating or string is empty")
else:
	print ("First non-repeating character is" , string[index])

First non-repeating character is f